html {
    scroll-behavior: smooth;
}
nav {
    text-align: center;
    
}
nav a {
    
    display: inline-block;
    border: 5px solid #169c2e;
    padding: 5px 10px;
    margin: 2px 2px;
    border-radius: 8px;
    font-size: 15px;
    
 }

.blink {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: blink;
}
@keyframes blink {
    0% {opacity: 1;}
    75% {opacity: 1;}
    76% {opacity: 0;}
    100% {opacity: 0;}
    }

nav li {
    display: inline;

}

h2 {
    text-align: center;
    color: #117534;
}



.stanowisko {
    text-align: center;
    color: black;
}

#background {
    background-image: url(kartka.jpg);
    
}

.sq1 {
    justify-content: center;
    text-align: left;

}


#glass {
    /* From https://css.glass */
    background: rgba(190, 220, 115, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    
    
    }


#tlo {
    background-image: url(tree.jpg);
    background-size: cover;
    overflow: hidden;
}

header img:hover {
    border: 10px solid #169c2e;
    transition: 1s;   
}

.moje-zdjecie {
    width: 15%;
    margin-left: 50px;
    margin-top: 50px;    
}
header ul {
    list-style: none;
}
.text {
    text-align: left;
    
}




a {
    text-decoration: none;
    color: #0b0b0b;
    transition: 1s;
}

a:hover {
    color: #169c2e;
}

.skills span {
    border: 1px solid #0e631e;
    padding: 5px 10px;
    margin: 2px 2px;
    color: #0e631e;
    display: inline-block;
    border-radius: 8px;
    font-size: 13px;
        
}


footer {
    text-align: center;
}

